.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #222;
    color: white;
    height: 70px;
    position: sticky;
    width: 100%;
    z-index: 10;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu span {
    padding: 5px;
    transition: all 0.1s ease-in;
}

.menu span:hover {
    background-color: crimson;
    border-radius: 4px;
}